<div class="w-full lg:h-[150px] md:h-[180px] h-auto 
    md:flex bg-gray-100 rounded-lg mb-2">
    <div class="h-[150px] md:h-[180px] md:w-[150px] w-full">
        <%= image_tag post.cover_image_url_url, 
            class: "w-full h-[150px] md:h-[180px] lg:h-[150px] object-cover 
                md:rounded-l-lg rounded-t-lg md:rounded-tr-none" %>
    </div>
    <div class="md:ml-2 md:w-[75%] w-full md:relative px-2 md:px-0">

        <%= link_to "#{post.title}", post_path(post.id), 
            class: "lg:text-2xl text-xl text-black font-[500]"%>

        <div class="my-2 text-black text-[12px] font-[300]">
            <% display_tags(post.tags).each do |tag| %>
                <span class="mr-2 px-[10px] py-[5px] rounded-lg 
                    hover:border-[1px] hover:border-green-500 cursor-pointer"> 
                    <%= "##{tag}" %> 
                </span>
            <% end %>
        </div>
        <div class="text-[14px]">
            <%= link_to "#{excerpt(post.content).concat("...")}", post_path(post.id) %>
        </div>
        <div class="my-2 text-black flex justify-between w-full font-[300] 
             md:absolute md:bottom-0 text-[12px]">
            <span> <%= post.user.username %> </span>
            <span><%= published_time(post.created_at) %></span>
        </div>
    </div>
</div>