<div class="md:grid md:grid-cols-6 md:gap-4 px-2 md:px-[0px]">
    <div class="md:col-span-4 md:h-[200px] h-auto">

        <% content_for :title, "Posts" %>

        <% @posts.each do |post| %>
            <%= render 'postItem', post: post %>
        <% end %>
    </div>
    <div class="md:col-span-2 mt-[10px] md:mt-[0px] h-auto">
        <div class="h-[250px]">
            <%= image_tag @user.image_url, 
            class: "w-full h-[250px] object-cover rounded-t-lg" %>
        </div>
        <div class="flex justify-between my-2">
            <span class="text-xl"> <%= @user.username %> </span>
            <span class="text-[14px]">My portfolio</span>
        </div>
        <div class="text-[14px] mt-2">
            Full-stack Developer
        </div>
        <div class="flex flex-wrap text-[14px]">
            
            <% get_skills(@user.skills).each do |skill| %>
                <span class="px-[10px] py-[5px] rounded-lg border-[1px]
                    border-green-500 mr-2 mt-[5px]"> 
                    <%= skill %> 
                </span>
            <% end %>
        </div>
        <div class="mt-2 text-[14px]">
            Feel free to <a href="#" class="text-blue-600">connect with me</a>
        </div>
        <div class="flex justify-center mt-4">
            <a href="#" class="mr-2 text-2xl text-gray-400 hover:text-black"><%= fa_icon "github" %></a>
            <a href="#" class="mr-2 text-2xl text-gray-400 hover:text-black"><%= fa_icon "linkedin" %></a>
            <a href="#" class="mr-2 text-2xl text-gray-400 hover:text-black"><%= fa_icon "twitter" %></a>
            <a href="#" class="mr-2 text-2xl text-gray-400 hover:text-black"><%= fa_icon "medium" %></a>
        </div>
    </div>
</div>