<div id="<%= dom_id post %>" class="w-full">
  <div class="rounded-t-lg h-[300px]">
    <%= image_tag post.cover_image_url_url, class: "w-full h-[300px] object-cover rounded-t-lg" %>
  </div>
  <div class="text-3xl text-black font-[500]">
    <%= post.title %>
  </div>

  <div class="my-2 text-black flex justify-between text-[14px]">
    <span><%= display_tags(post.tags) %></span>
    <span><%= published_time(post.created_at) %></span>
  </div>

  <div class="my-2 text-black">
    <%= post.content %>
  </div>
</div>