<!DOCTYPE html>
<html>
  <head>
    <title>TechBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div class="w-full h-[80px] border-b-[1px] border-gray-300 flex justify-between items-center text-black md:px-[50px] px-2">
        <div class="text-2xl font-[500]"><%= link_to "jnDev", root_path %></div>
        <div> 
          <% if user_signed_in? %>
            <%= link_to "sign out", destroy_user_session_path, method: :delete %> 
          <% else %>
            <%= link_to "sign up", new_user_session_path %> 
          <% end %>
        </div>
      </div>
      <div class="md:w-[80%] md:m-auto">
        <p class="notice"> <%= notice %> </p>
        <p class="alert"> <%= alert %> </p>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
